/* @import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap'); */
body{
    /* background-color: #e7ca45;  */
    background: url('../images/bg1.jpg');  
    
    background-size: cover;
}
#container{
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 960px;
    background-color: rgba(255,255,255,.15);
    backdrop-filter: blur(5px); 
}
img{
    width:70px;
    height:70px;
}
#container1,#container2,#container3{
    display:inline-block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.player1Images:hover,.player2Images:hover,.images:hover{
 
 box-shadow: 0 5px 15px rgba(0,0,0);
 transition: box-shadow 0.6s ease-in-out;
 border-radius: 5px;
}
table{
    margin: 40px auto;
    width:258px;
    border-collapse: collapse;
}
td{
    transition-duration: 0.2;
    border:5px solid black;
    text-align: center;
    padding:8px;
    width:70px;
    height:70px;
    cursor: pointer;
}
table tr:first-child td {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child {
    border-left: 0;
}
table tr td:last-child {
    border-right: 0;
}
.fillChoice1, .fillChoice2{
    display: none;
}
.visibleImage, .visibleImage1{
    visibility: visible;
    box-shadow: 0 5px 15px rgba(0,0,0);
}

.o{
    color:#E6DD3B;
    font-size: 50px;
    font-family: 'New Tegomin', serif;
}
.x{
    color:red;
    font-size: 50px;
    font-family: 'New Tegomin', serif;
}
.markIt{
    box-shadow: 0 5px 15px rgba(0,0,0);
    transition: box-shadow 0.6s ease-in-out;
    border-radius: 5px;
    
}
#txt {
    background: url("../images/bg2.jpg") center center no-repeat;
    background-size: 150%;
    text-align: center;
    justify-content: center;
    font-family: Huck;
    font-size: 8vw;
    color: white;
    padding-top: 7%;
    z-index: 1;
    height: 100%;
    width: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 8s linear infinite;
    
}
@keyframes move {
    0% { background-position: 0 0; }
    50% { background-position: -200px -200px; }
    100% { background-position: 0 0; }
}
  
@font-face {
    font-family: "Huck";
    font-weight: normal;
    font-stretch: condensed;
    src: local("?"),        
}
p{
    font-family: Huck;
    font-size: 20px;
    font-weight: bold;
    color: #BD2000;
}
span{
    font-family: 'New Tegomin', serif;
    color: #E6DD3B;
}
.winner{
    font-family: Huck;
    font-size: 30px;
    color: #E6DD3B;
    
}
.player{
    display:none;
}
footer{
    margin-top: 30px;
}